
html{
  background-color:#000;
}
body{
  background-color:#000;
  background:url(../images/bg.jpg) center top no-repeat;
  overflow:auto;
  padding:0;
}
a{
  text-decoration:none ;
}
.header{
  width:7rem;
  height:0.6rem;
  line-height:0.6rem;
  font-size:0.2rem;
  text-align:center;
  background-color:#ffec15;
  background-image: url(../images/rainbow_horse_logo.png);
  background-repeat:no-repeat;
  background-position:0.2rem center;
  background-size:0.55rem auto;
}
.index .main{
  width:7rem;
  height:9.79rem;
  background:url(../images/bg.jpg) top center no-repeat;
  background-size:100%;
  position:relative;
}
.index .main a{
  display:block;
  width:2.73rem;height:1.08rem;
  position:absolute;
  left:32%;
}
.index .main a.start{
  background:url(../images/start.png) center no-repeat;
  background-size:100%;
  top:65%;
}
.index .main a.download{
  background:url(../images/download.png) center no-repeat;
  background-size:100%;
  top:81%;
}
.index .banner{
  width:7rem;
  height:3.2rem;
}
.index .banner img{
  width:100%;
}
.index .news_wrap{
  padding:0.2rem;
  background-color:#fff;
  margin-bottom:0.85rem;
}
.index .news_wrap .news_title{
  width:100%;
  border-bottom:1px solid #c1c1c1;
  overflow:auto;
}
.index .news_wrap .news_title>div{
  width:25%;height:0.4rem;line-height:0.4rem;
  font-size:0.18rem;
  float:left;
  text-align:center;
}
.index .news_wrap .news_title>div.active{
  border-bottom:0.04rem solid #ed7321;
}
.index .news_wrap .news_main a{
  display:block;
  font-size:0.14rem;
  height:0.62rem;line-height:0.62rem;
  color:#323333;
  border-bottom:1px dashed #c1c1c1;
}
.index .news_wrap .news_main a i{
  font-style: normal;
  background:url(../images/news_tag.png) center no-repeat;
  background-size:0.44rem 0.22rem;
  margin-left:0.2rem;
}
.index .news_wrap .news_main a span{
  float:right;
  display:inline-block;
  font-size:0.14rem;
  color:#323333;
  margin-right:0.1rem;
}
.index .news_wrap .load_more{
  width:0.69rem;height:0.48rem;
  margin:0.2rem  auto;
  display:block;
}
.footer{
  width:7rem;height:0.85rem;
  background-color:#282828;
  position:fixed;
  bottom:0;z-index:2;
}
.footer a{
  display:block;
  width:20%;
  height:0.85rem;
  background-position:center 0.07rem;
  background-repeat:no-repeat;
  background-size:0.5rem 0.5rem;
  font-size:0.16rem;
  line-height:1.25rem;
  float:left;
  color:#fff;
  text-align:center;
}
.footer a:nth-of-type(1){
  background-image:url(../images/footer/1.png);
}
.footer a:nth-of-type(2){
  background-image:url(../images/footer/2.png);
}
.footer a:nth-of-type(3){
  background-image:url(../images/footer/3.png);
}
.footer a:nth-of-type(4){
  background-image:url(../images/footer/4.png);
}
.footer a:nth-of-type(5){
  background-image:url(../images/footer/5.png);
}
.footer a.active{
  background-color:#ff8a00;
}