
html{
  background-color:#000;
}
body{
  background-color:#000;
  background:url(../images/bg.jpg) center top no-repeat;
  overflow:auto;
  padding:0;
}
a{
  text-decoration:none ;
}
.mask{
  width:100%;
  height:100%;
  z-index:2;
  position:fixed;
  top:0;left:0;
  background-color:rgba(0,0,0,.5);
  display:none;
}
.popup .close{
  font-size: 0.4px;
  color: #000;
  transform: rotate(45deg);
  width: 0.4rem;
  height: 0.4rem;
  float: right;
  cursor:pointer;
  text-align:center;
}
.header{
  width:7rem;
  height:0.6rem;
  line-height:0.6rem;
  font-size:0.2rem;
  text-align:center;
  background-color:#ffec15;
  background-image: url(../images/rainbow_horse_logo.png);
  background-repeat:no-repeat;
  background-position:0.2rem center;
  background-size:0.55rem auto;
}
.index .main{
  width:7rem;
  height:9.79rem;
  background:url(../images/bg.jpg) top center no-repeat;
  background-size:100%;
  position:relative;
}
.index .main a{
  display:block;
  width:2.73rem;height:1.08rem;
  position:absolute;
  left:32%;
}
.index .main a.start{
  background:url(../images/start.png) center no-repeat;
  background-size:100%;
  top:65%;
}
.index .main a.download{
  background:url(../images/download.png) center no-repeat;
  background-size:100%;
  top:81%;
}
.index .banner{
  width:7rem;
  height:3.2rem;
}
.index .banner img{
  width:100%;
}
.index .news_wrap{
  padding:0.2rem;
  background-color:#fff;
  margin-bottom:0.85rem;
}
.index .news_wrap .news_title{
  width:100%;
  border-bottom:1px solid #c1c1c1;
  overflow:auto;
}
.index .news_wrap .news_title>div{
  width:25%;height:0.4rem;line-height:0.4rem;
  font-size:0.18rem;
  float:left;
  text-align:center;
}
.index .news_wrap .news_title>div.active{
  border-bottom:0.04rem solid #ed7321;
}
.index .news_wrap .news_main a{
  display:block;
  font-size:0.14rem;
  height:0.62rem;line-height:0.62rem;
  color:#323333;
  border-bottom:1px dashed #c1c1c1;
}
.index .news_wrap .news_main a i{
  font-style: normal;
  background:url(../images/news_tag.png) center no-repeat;
  background-size:0.44rem 0.22rem;
  margin-left:0.2rem;
}
.index .news_wrap .news_main a span{
  float:right;
  display:inline-block;
  font-size:0.14rem;
  color:#323333;
  margin-right:0.1rem;
}
.index .news_wrap .load_more{
  width:0.69rem;height:0.48rem;
  margin:0.2rem  auto;
  display:block;
}
.footer{
  width:7rem;height:0.85rem;
  background-color:#282828;
  position:fixed;
  bottom:0;z-index:2;
}
.footer a{
  display:block;
  width:20%;
  height:0.85rem;
  background-position:center 0.07rem;
  background-repeat:no-repeat;
  background-size:0.5rem 0.5rem;
  font-size:0.16rem;
  line-height:1.25rem;
  float:left;
  color:#fff;
  text-align:center;
}
.footer a:nth-of-type(1){
  background-image:url(../images/footer/1.png);
}
.footer a:nth-of-type(2){
  background-image:url(../images/footer/2.png);
}
.footer a:nth-of-type(3){
  background-image:url(../images/footer/3.png);
}
.footer a:nth-of-type(4){
  background-image:url(../images/footer/4.png);
}
.footer a:nth-of-type(5){
  background-image:url(../images/footer/5.png);
}
.footer a.active{
  background-color:#ff8a00;
}
/*礼包*/
.giveaways{
  background-color:#fff;
}
.giveaways .block{
  width:100%;
  background-color:#fff;
  overflow:hidden;
  padding-bottom:0.2rem;
}
.giveaways .block .left,.giveaways .block .right{
  float:left;
}
.giveaways .block .left{
  width:2.85rem;
}
.giveaways .block .right{
  width:4.15rem;
}
.giveaways .block .left img{
  width:2.57rem;height:2.78rem;
  display:block;
  margin:0.4rem 0 0 0.16rem;
}
.giveaways .block .left .bottom{
  color:#666666;font-size: 0.12rem;
  margin-top:0.12rem;
  margin-left:0.16rem;
}
.giveaways .block .left .bottom .g_left,.giveaways .block .left .bottom .g_left_percent{
  display:inline-block;
}
.giveaways .block .left .bottom .g_left span{
  width:0.55rem;height:0.03rem;
  display:inline-block;
  margin-top:-0.03rem;
  background-color:#ea5320;
}
.giveaways .block .left .bottom .g_left_percent span{
  color:#ea5320;
}
.giveaways .block .right{
  font-size:0.14rem;
  margin-top:0.4rem;
}
.giveaways .block .right .g_title{
  color:#fe6a01;
  margin-bottom:0.2rem;
}
.giveaways .block .right .g_content{
  color:#777777;
  line-height:0.3rem;
}
.giveaways .block .right .g_btn{
  color:#fff;
  background: linear-gradient(180deg, #ff8e06, #fe6201) #fe6201;
  border:1px solid #fe6201;
  width:1.46rem;height:0.4rem;line-height:0.4rem;
  text-align:center;
  border-radius:0.05rem;
  float:right;
  margin-top:0rem;
  margin-right:0.2rem;
}
.giveaways_popup{
  position:fixed;
  width:4rem;min-height:2.12rem;
  background-color:#fff;
  top: 3rem;
  left: 1.6rem;
  box-sizing:border-box;
}
.giveaways_popup .title{
  color:#fe6a01;
  font-size:0.18rem;
  text-align:center;
  margin-top:0.6rem;
}
.giveaways_popup .code{
  font-size:0.16rem;
  margin-top:0.1rem;
  color:#fe6a01;
  text-align:center;
}
.giveaways_popup .code span{
  color:#014efe;
  cursor:pointer;
  margin-left:0.1rem;
}
.giveaways_popup .use{
  color:#979797;
  margin-top:0.1rem;
  width:80%;
  margin-left:0.4rem;
  font-size:0.12rem;
  line-height:0.15rem;
}
